<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author list</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<a href="/" th:href="@{/}">вернуться</a>
<h1>Авторы:</h1>
<form id="create-form" th:action="@{/author-new}" th:method="post" action="author-new">
    <div class="row">
        <label for="holder-input">Имя нового автора Имя:</label>
        <input id="holder-input" name="name" type="text" th:value="${author.name}" value="John Doe"/>
        <button type="submit">Добавить</button>
    </div>
</form>

<p th:if="${showDelMess == true}" style="color:red">У автора есть связанные книги, удалите сперва книги</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr class="list" th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td>
            <form th:action="@{/author-edit(id=${author.id})}" method="get" action="/author-edit">
                <input type="hidden" th:value="${author.id}" name="id"/>
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{/author-delete}" method="post" action="/author-delete">
                <input type="hidden" th:value="${author.id}" name="id"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>